<div class="container">
    <div class="header">
        <div class="logo">
            <img src="couple.png" alt="logo">
            <div class="title">
                <span>Kalai Sankara </span>
                <span>Matrimony</span>
            </div>
        </div>
        <div class="links">
            <ul>
                <li>
                    <div class="text">Home</div>
                    <div class="text-border"></div>
                </li>
                <li>
                    <div class="text">Gallery</div>
                    <div class="text-border"></div>
                </li>
                <li>
                    <div class="text">About Us</div>
                    <div class="text-border"></div>
                </li>
                <li>
                    <div class="text">Contact Us</div>
                    <div class="text-border"></div>
                </li>
            </ul>
        </div>
        <div class="admin">
            <div class="btn">
                <button>Sign In</button>
            </div>
        </div>
    </div>
</div>