
<div class="container">
    <div class="footer">
        <div class="info">
            <div class="title">
                <span>Kalai Sankara </span>
                <span>Matrimony</span>
            </div>
            <span>kalaisankara&#64;gmail.com</span>
            <span>Vivekanantha nager</span>
            <span>Kilinochchi</span>
            <span>+94 76 32 44 164</span>
        </div>
        <div class="links">
            <span>Stay Connected With Us</span>
            <div class="logos">
                <span><img src="/facebook (2).png" alt=""></span>
                <span><img src="/whatsapp.png" alt=""></span>
                <span><img src="/instagram (1).png" alt=""></span>
            </div>

        </div>
        <div class="copyright">
            <span>Copyright &copy; 2024 kalaisankara</span>
            <span>Privacy policy</span>
            <span>Terms of use</span>
        </div>
    </div>
</div>