<div class="container">
    <div class="matrimony-details">
        <div class="header">
            <div>
                <h3>கலை சாங்கரா திருமண சேவை</h3>
            </div>
            <div class="contact-info">
                <div class="register_no">
                    <span>பதிவு எண்: kn7287</span>
                </div>
                <div class="contact-details">
                    <span>தொடர்புக்கு : 076 0867065</span>
                    <span>WhatsApp / Viber : 074 0567065</span>
                    <span>Email: pinragulive&#64;gmail.com</span>
                </div>

            </div>
            <div class="description">
                <span>எங்களிடம் அனைத்து சாதியினருக்கும் வரன் அமைத்து தரப்படும்
                    மற்றும் மறுமணம் பார்ப்தோடு
                    வெளிநாட்டு வரன்களும் சிறந்த முறையில் நம்பிக்கையுடன் அமைத்து தரப்படும்</span>
            </div>
        </div>

        <div class="section">
            <div class="inner-section">
                <div><label>பெயர்:</label><input type="text"></div>
                <div><label>நீளம்:</label><input type="text"></div>
                <div><label>பிறந்த நாள்:</label><input type="text"></div>
                <div><label>பிறந்த நேரம்:</label><input type="text"></div>
                <div><label>கல்வி:</label><input type="text"></div>
                <div><label>சாதி:</label><input type="text"></div>
                <div><label>தொழில்:</label><input type="text"></div>
                <div><label>மணம் முடிக்க விரும்பும் சாதி:</label><input type="text"></div>
                <div><label>உடன் பிறப்பு: </label>
                    <div><label>ஆண்:</label><input type="text"><label>பெண்:</label><input type="text"></div>
                </div>
                <div><label>தந்தையின் பெயர்:</label><input type="text"></div>
                <div><label>தாயின் பெயர்:</label><input type="text"></div>
                <div><label>தந்தை சொந்த இடம்:</label><input type="text"></div>
                <div><label>தாய் சொந்த இடம்:</label><input type="text"></div>
                <div><label>உயரம்:</label><input type="text"></div>
                <div><label>ராசி:</label><input type="text"></div>
                <div><label>நட்சத்திரம்:</label><input type="text"></div>
                <div><label>எதிர்பார்ப்பு:</label><input type="text"></div>
            </div>

        </div>

        <!-- <div class="charts">
            <div class="chart">ராசி</div>
            <img src="murukan.jpg" class="center-img" alt="Murugan">
            <div class="chart">அம்சம்</div>
        </div> -->
        <div class="btn">
            <button>
                Save Details
            </button>
        </div>

    </div>
</div>