<div class="container">
    <div class="login">
        <div class="content">
            <div class="close">
                <div>
                    <span class="material-icons">close</span>
                </div>
            </div>
            <div class="logo">
                <div>
                    <img src="/couple.png" alt="">
                </div>
            </div>
            <div class="title">
                <span>Login</span>
            </div>
            <div class="fields">
                <div>
                    <label for="">Username :</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Password :</label>
                    <input type="password">
                </div>
            </div>
            <div class="btn">
                <button routerLink="/admin">Login</button>
            </div>
        </div>
    </div>
</div>