.container{
    height: 100vh;
    width: 100%;
}
.login{
    width: 90%;
    height:100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.content{
    width: 30%;
    height: 60%;
    background-color: rgba(255, 187, 0, 0.233);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.452);
    border-radius: 15px 15px 0px 0px;
    
    
}
.close div{
    width: 15px;
    height: 15px;
    padding: 10px;
}
.close div:hover{
    background-color: rgba(255, 208, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
}
.close div img{
    width: 100%;
    height: 100%;
}
.logo{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo div{
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 1px solid rgba(255, 208, 0, 0.9);
    border-style: dashed;
    border-radius: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo div:hover{
    background-color: rgba(255, 208, 0, 0.4);
    border-radius: 50%;
    cursor: pointer;
}
.logo div img{
    width: 100%;
    height: 100%;
}
.title{
    height: 10%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title span{
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 208, 0, 0.9);
}
.fields{
    height: 30%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgba(49, 41, 3, 0.692);;
}
.fields div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 208, 0, 0.9);
    
}

.fields div input{
   padding: 5px 20px;
   outline: none;
   border:none;
   background-color: transparent;
}
.btn{
   height: 20%;
    width: 80%; 
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    
}
.btn button{
   height: 35%;
    width: 40%; 
    border: none;
    outline: none;
    background-color: rgba(255, 208, 0, 0.9);
    border: 1px solid transparent;
    border-radius: 5px;
}
.btn button:hover{
    background-color: rgba(255, 208, 0, 0.1);
    border: 1px solid rgba(255, 208, 0, 0.9);
    cursor: pointer;
    border-style: dashed;
}