<div class="container">
    <div class="dashboard">
            <div class="filter">
                <div class="filter-options">
                    <button>All</button>
                    <button>Groom</button>
                    <button>Bride</button>
                </div>
                <div class="filter-search">
                    <input type="text" name="search" id="search" placeholder="type here.. ">
                    <button>search</button>
                </div>

            </div>
            <div class="table-section">
                <span>hi</span>
            </div>
    </div>
</div>